.bl-background{
    background-color: #d7d5d5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    overflow: auto;
    display: flex;
    flex-direction: column;

}
.container {
    width: 100%;
    height: 100%;
    max-width: 1000px;
    padding-top: 100px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}
.bl-list{
    width:64%;
    min-width: 600px;
    background-color: white;
    flex-direction: column;
    float: left;
    margin: 1%;
}

.bl-bought{
    background-color: white;
    right: 10%;
    width:300px;
    flex-direction: column;
    margin: 1%;
    float: left;
}

.bl-list,.bl-bought{
    height:	auto;
    font-size: 16px;
    font-family: Arial;
    border:1px solid rgba(34,36,38,.15); ;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(34, 36, 38, .12), 0 2px 10px 0 rgba(34, 36, 38, .08);

}
.bl-row{
    width:100%;
    min-height: 60px;
    border-top: 1px solid rgba(34,36,38,.15);
}

@media(max-width: 500px) {
    .bl-list{
        width: 100%;
    }
    .bl-bought {
        width: 100%;
    }
}
input{
    border-radius: 5px;
}
.search{
    width:100%;
    height: 50px;
    box-sizing: inherit;
    display: flex;
    padding: 14px;
}
.addForm{
    width: 80%;
    height: auto;
}
.add{
    font-style: normal;
    font-weight: 700;
    width: 15%;
    border: none;
    height: auto;
    border-radius: 3px;
    color: white;
    font-size: 1rem;
    background: #2185D0;
    box-shadow: 0 -0.3em 0 0 rgba(34,36,38,.15) inset;
}
.addForm.add{
    box-sizing: border-box;

}

.bl-title,.bl-left{
    border-bottom: 1px solid rgba(34,36,38,.15);;
    padding: 14px;
}
.bl-final{
    padding: 14px;
}

.bl-label{
    padding: 10px;
    background-color:#E8E8E8;
    border-radius: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 5px;


}
.bl-count .bl-minus, .bl-plus{
    border-radius: 50px;
    width: 38px;
    height: 38px;
    text-align: center;
}
.bl-count .bl-minus {
    background-color: crimson;
    border-color: crimson;

}
.bl-minus{
    color: white;
    border: none;
    box-shadow: 0 0 0 1px rgba(34,36,38,.15) inset, 0 -0.3em 0 0 rgba(34,36,38,.15) inset;

}
.bl-plus{
    color: white;
    border: none;
    background-color: #0fbb0f;
    box-shadow: 0 0 0 1px rgba(34,36,38,.15) inset, 0 -0.3em 0 0 rgba(34,36,38,.15) inset;

}
.bl-buttons .bl-delete{
    border-radius: 5px;
    width: 38px;
    height: 38px;
    color: white;
    background-color: crimson;
    border: none;
    box-shadow: 0 0 0 1px rgba(34,36,38,.15) inset, 0 -0.3em 0 0 rgba(34,36,38,.15) inset;
    /*background: linear-gradient(transparent,crimson) #F8F8F8;*/

}
.bl-buttons .bought{
    font-style: normal;
    font-weight: 700;
    height: 40px;
    width: 90px;
    border: none;
    box-shadow: 0 0 0 1px rgba(34,36,38,.15) inset, 0 -0.3em 0 0 rgba(34,36,38,.15) inset;
    background: linear-gradient(transparent,rgba(0,0,0,.05)) #F8F8F8;
    color: rgba(0,0,0,.6);
    border-radius: 5px;
}
.bl-buttons .unbought{
    font-style: normal;
    font-weight: 700;
    height: 40px;
    width: 90px;
    border: none;
    box-shadow: 0 0 0 1px rgba(34,36,38,.15) inset, 0 -0.3em 0 0 rgba(34,36,38,.15) inset;
    background: linear-gradient(transparent,rgba(0,0,0,.05)) #F8F8F8;
    color: rgba(0,0,0,.6);
    border-radius: 5px;
}
.bl-minus,.bl-plus,.bl-delete{
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
}

.bl-product,.bl-name{
    float:left;
    width:20%;
    padding: 14px;

}
.bl-count {
    width: 28%;
    float: left;
    text-align: center;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 14px;

}
.bl-buttons{
    float:left;
    width:38%;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 7px;
    text-align: right;

}

.add:active {
    outline: none;
    background-color: #4173bb;
}

.add::after {
    background-color: rebeccapurple;
    border-radius: 5px;
    width: 150px;
    height: 25px;
    margin-top: -25px;
    margin-left: -110px;

    padding: 5px;
    color: white;

    font: 17px "Calibri";
    content: attr(data-tooltip);
    opacity: 0;
    position: absolute;
    visibility: hidden;
    transform: scale(0.2);
    transition: all 0.2s ease-in-out;

}

.add:hover::after {
    opacity: 1;
    visibility: visible;
    transform: translateY(-30px) scale(1);
}
.bl-item{
    font: normal 14px "Calibri";
    display: inline-block;
    text-align: center;
    padding: 5px;
    margin: 2px;
    background-color: #d7d5d5;
    border-radius: 5px;
}
.name,.created-by{
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
    color: white;
}
.n{
    font-size: 14px;
    padding: 1px 5px 1px 5px;
    border-radius: 50%;
    text-align: center;
    background-color: #F2711C;
    color: #FFF;
}

.badge{
    position: fixed;
    width: 100px;
    height: 100px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgba(153,54,203,0.89);
    padding-top: 10px;
    bottom: -80px;
    margin-left: 50px;
    text-align: center;
    transition: all 1s ease;
}
.badge:hover{
    bottom: -10px;
    background-color: blue;

}
.buy-list{
    font-family: Arial;
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    color: white;
}

@media print {
    .badge{
        background-color: white;
        border: 1px solid darkmagenta;
        color: black;
        bottom: 10px;
    }
    .buy-list{
        display: none;
        visibility: hidden;
    }
    .created-by{
        padding-top: 20;
        color: black;
    }

}

button[data-tooltip]:hover::before{
    background-color: darkmagenta;
    opacity: 1;
    visibility: visible;
    border-radius: 5px;
    color: white;
    transition:all 0.5s ease-in-out;
    transform: scale(1);

}
button[data-tooltip]::before{
    color: white;
    visibility: hidden;
    display: inline-block;
    position: fixed;
    padding: 5px;
    content: attr(data-tooltip);
    margin-top: -35px;
    margin-left: -30px;
    opasity:0;
    transition: all 0.5s ease;
    transform: scale(0);
}

.bl-row .unbought{
    display: none;
}
.bl-row .unbought button{
    display: none;
}
.bl-name {
    width: 20%;
    height: auto;
    display: inline-block;
}

.bl-text {
    text-align: left;
    display: inline-block;
}

.bl-number {
    text-align: center;
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: auto;
    width: 20px;
    height: 20px;
    display: inline-block;

    color: white;
    background-color: darkorange;

    border-radius: 10px;

}
